<div id="<%= dom_id request %>">
  <p>
    <strong>Fullname:</strong>
    <%= request.fullname %>
  </p>

  <p>
    <strong>Student number:</strong>
    <%= request.student_number %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= request.document %>
  </p>

  <p>
    <strong>Request reason:</strong>
    <%= request.request_reason %>
  </p>

</div>
